   /* site banner */
   .naail-banner{
    padding-top: 120px;
    padding-bottom: 120px;
    background-image: url('../images/profile-shot-confidently.jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 50vh;
  }
  .naail-banner::after{
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .banner-content{
    position: relative;
    z-index: 2;
    color: #fff;
    text-transform: uppercase;
  }
  .banner-content span{
    position: relative;
    display: inline-block; 
    margin-bottom: 10px;
    padding-bottom: 13px;
  }
  .banner-content span::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    left: 0;
    bottom: 0;
    border-bottom: 5px dotted var(--primary-color);
  }

  .banner-content h1{ 
    position: relative;
    line-height: 1;
    padding-left: 10px;
    color: #fff;
  }
  // .banner-content h1::before{
  //   content: "";
  //   position: absolute;
  //   width: 5px;
  //   height: calc(100% - 6px);
  //   top: 50%;
  //   left: 0;
  //   transform: translateY(-50%);
  //   background-color: var(--primary-color);
  // }
