  /*===footer===*/
  .naail-footer{
    background-color: var(--secondary-color);
    color: #fff;
    padding: 30px 0;
  }
  .naail-social{
    list-style: none;
    gap: 30px;
  }
  .naail-social a{
    color: #fff;
  }
  .naail-social a:hover{
    color: var(--primary-color);
  }