  /*===home page===*/
  .naail-Home{
    height: 100vh;
    background-image: url('../images/profile-shot-confidently.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
  }
  .naail-Home::after{
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .home-content{
    padding-top: 120px;
    position: relative;
    z-index: 2;
    color: #fff;
  }
  .home-content span{
    font-size: 40px;
  }
  .home-content h1{
    font-size: var(--fs-display);
    margin-bottom: 10px;
    color: #fff;
  }
  .home-content p{
    margin-bottom: 30px;
  }